# Database
# For production (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/fibeger?schema=public"

# For local development (SQLite) - uncomment this and comment out the PostgreSQL URL above
# DATABASE_URL="file:./prisma/dev.db"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
